.project-heading{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0em 3em;
   background-color: rgb(224, 224, 224);
   color: rgb(0, 0, 0);
  box-shadow: 1px 1px 4px 0px rgb(110, 110, 110); 

}
.project-heading p{
  font-size: 25px;
  text-decoration: underline;
  font-weight: 700;
  font-family: 'Courier New', Courier, monospace;
}
.project-heading img{
  width: 40px;
  border-radius: 50%;
}

.shown-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(26, 26, 26);
  color: white;
  font-weight: 600;
  border: none;
  // font-size: 40px;
}


.hidden-content .pics-card{
  margin: 2em 0em;
  box-shadow: 1px 1px 3px 0px rgb(90, 90, 90);
}

.image{
  width: 18rem;
  opacity: 0.8;
}


.about-project{
  width: 50%;
  color: rgb(206, 206, 206);
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
}
.about-project p span {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(236, 236, 236);
}

.about-project span a{
  color: rgb(240, 240, 240);
  color:  rgb(71, 233, 157);
}

.hidden-content {
     display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: relative;
}


.hidden-content .bottom-div{
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding:  0.5em;
  background-color: rgb(44, 44, 44);
}
.stack{
  font-family: monospace;  
}


.link{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  background-color: rgb(39, 148, 97);
  padding: 0.3em 0.5em;
  border-radius: 4px;
}

.link a{
  color: rgb(226, 226, 226);
  text-decoration: none;
}

.link a:hover{
  text-decoration: underline;
  color: rgb(236, 236, 236);
}


.shown-content .title{
  font-size: 20px;
  font-weight: bold;
}
.project-details{
    padding:  18px 50px;
    animation-name: project;
    animation-duration: 2.5s;
    position: relative; 
}

.title span{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}


@keyframes project {
    0%{
      top: -10px; 
      opacity: 0.8; 
    }

    50%{
      top:20px ; 
      opacity: 0.9;   
    }

    100%{
        top:0px ;
        opacity: 1;
         
      }
}


@media (min-width: 800px) {
  .project{
      width: 90%;
      margin: auto;
  }
}
@media (max-width:700px){
  .project-details{
    padding:  18px 30px;
  }
}

@media (max-width:800px){
  .about-project{
    width: 100%;
    font-size: 16px;
}
.project-heading{
  padding: 0em 1em;
}
// .hidden-content .pics-card{
//   // margin-bottom: 0px;
//   // margin-top: 10px;
// }

}

