.shown-content{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.pics{
  margin-bottom: -30px;
}

.pics:hover{
  transform: scale(1.1);
  transition-duration: 1s;
}

.image{
    width: 18rem;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 10px;
    opacity: 0.3;
}


.about-project{
     width: 50%;
     color: rgb(201, 200, 200);
     font-family: 'Courier New', Courier, monospace;
}
.hidden-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    animation: hidden 2s;
    animation-iteration-count: 1;
    position: relative;
}


@keyframes hidden {
  0%{
    top: -20px;    
  }

  50%{
    top:40px ;   
  }

  100%{
      top:0px ;
       
    }
}
.stack{
  background-color: rgb(48, 48, 48);
  padding: 12px 15px;
  margin-top: -4px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  color: rgb(221, 221, 221);
  font-family: monospace;
  
}

.pics p{
  text-align: end;
}

.link{
  position: relative;
  bottom: 45px;
  /* left: 0px; */
  padding-left: 8px;
  font-size: 20px;
}

.link a{
  color: rgb(192, 190, 190);
  text-decoration: none;
}


.shown-content .title{
  font-size: 20px;
  font-weight: bold;
}
.project-details{
    padding:  18px 50px;
    animation-name: project;
    animation-duration: 2.5s;
    position: relative; 
}

.title span{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}


@keyframes project {
    0%{
      top: -10px;    
    }

    50%{
      top:40px ;   
    }

    100%{
        top:0px ;
         
      }
}

@media (max-width:700px){
  .project-details{
    padding:  18px 30px;
  }
}

@media (max-width:800px){
  .about-project{
    width: 100%;
}

}

