.project-heading{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0em 4em;
  // border: 1px solid white;
  box-shadow: 1px 1px 4px 0px; 

}
.project-heading p{
  font-size: 25px;
  font-family: 'Courier New', Courier, monospace;
}
.project-heading img{
  width: 40px;
  border-radius: 50%;
}

.shown-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pics{
  margin-bottom: -30px;
}

.pics:hover{
  transform: scale(1.05);
  transition-duration: 0.5s;
}

.image{
    width: 18rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-top: 10px;
    opacity: 0.3;
}


.about-project{
  width: 50%;
  color: rgb(201, 200, 200);
  font-family: 'Courier New', Courier, monospace;
}

.about-project span a{
  color: rgb(240, 240, 240);
}

.hidden-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    animation: hidden 2s;
    animation-iteration-count: 1;
    position: relative;
    background-color: rgb(37, 37, 37);
    padding: 1em 0em;
}


@keyframes hidden {
  0%{
    top: -20px;    
  }

  50%{
    top:40px ;   
  }

  100%{
      top:0px ;
       
    }
}
.stack{
  background-color: rgb(48, 48, 48);
  padding: 12px 15px;
  margin-top: -4px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: rgb(221, 221, 221);
  font-family: monospace;
  
}

.pics p{
  text-align: end;
}

.link{
  position: relative;
  bottom: 42px;
  padding-left: 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.link a{
  color: rgb(187, 183, 183);
  text-decoration: none;
}
.fa-eye{
  margin-left: 5px;
}

.link a:hover{
  text-decoration: underline;
  color: rgb(236, 236, 236);
}


.shown-content .title{
  font-size: 20px;
  font-weight: bold;
}
.project-details{
    padding:  18px 50px;
    animation-name: project;
    animation-duration: 2.5s;
    position: relative; 
}

.title span{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}


@keyframes project {
    0%{
      top: -10px;    
    }

    50%{
      top:40px ;   
    }

    100%{
        top:0px ;
         
      }
}


@media (min-width: 800px) {
  .project{
      width: 90%;
      margin: auto;
  }
}
@media (max-width:700px){
  .project-details{
    padding:  18px 30px;
  }
}

@media (max-width:800px){
  .about-project{
    width: 100%;
}

}

