.mobile-nav *{
    background-color: rgb(19, 19, 19);
    color: rgb(153, 151, 151);
    list-style: none;
    text-decoration: none;
    display: flex;  
    justify-content: space-around;
    width: 100%;
    z-index: 1000;
    overflow-x: hidden;
    float: right;
    animation-name: slide;
    animation-duration: 1s;       
}

@keyframes slide {
    0%{
        width: 0%;
        top:0;
    }

    50%{
        width: 100%;
        top:20px;
    }
}

.mobile-nav{
    height: 70px;
    top: 0;
    right: 0;  
    position: relative; 
}

#home .FaIcon:before {
    content: '\f015';
}    
#about .FaIcon:before {
    content: '\f007';
}    
#experience .FaIcon:before {
    content: '\f121';
}    
#project .FaIcon:before {
    content: '\f5fc';
}   
#contact .FaIcon:before {
    content: '\f0e0';
}
       
#home .FaIcon,
#about .FaIcon,
#experience .FaIcon,
#project .FaIcon,
#contact .FaIcon {
    font-size: 15px;
}
    
.mobile-nav a :hover,
.mobile-nav a.active {
    color: white; 
}

.mobile-nav .FaIcon{
    transition: all 0.3s ease-out;
}
   
.mobile-nav a .FaIcon:hover::before {
    opacity: 0; 
}

#home .FaIcon::after,
#about .FaIcon:after,
#experience .FaIcon:after,
#project .FaIcon:after,
#contact .FaIcon:after{
  content: '';
  font-size: 9px;
  letter-spacing: 0px;
  position: absolute;
  top: 18px;
  opacity: 0;
  transition: all 0.5s ease-out; }


#home .FaIcon:hover::after,
#about .FaIcon:hover::after,
#experience .FaIcon:hover::after,
#project .FaIcon:hover::after,
#contact .FaIcon:hover::after {
  opacity: 1; }

#home .FaIcon::after {
    content: 'HOME';
    font-family: Font Awesome 5 Free;
    font-weight: 50;
    font-size: 11px;}

#about .FaIcon::after {
    content: 'ABOUT';
    font-family: Font Awesome 5 Free;
    font-weight: 50;
    font-size: 11px}

#experience .FaIcon::after {
    content: 'EXPERIENCE';
    font-family: Font Awesome 5 Free;
    font-weight: 50;
    font-size: 11px}

#project .FaIcon::after {
    content: 'PROJECT';
    font-family: Font Awesome 5 Free;
    font-weight: 50;
    font-size: 11px}

#contact .FaIcon::after {
    content: 'CONTACT';
    font-family: Font Awesome 5 Free;
    font-weight: 50;
    font-size: 11px}
